VITE_API_URL=http://localhost:3000

MONGO_URI=mongodb+srv://anannya:2QAO89goCeXCS5mB@resume-analyser-cluster.ybksg5r.mongodb.net/resume-master

JWT_SECRET= 988b80b8bf4c1979269a601ce501c7777dc66bb748f3cc7b9f8b1136595d77f028e8a15c

GOOGLE_GENAI_API_KEY=AIzaSyBuQb8fhJecrvX9SwKXUM2zzpw5askIRiE


